<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>사랑방</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  </head>
  <body class="container">
    <h1>
      그녀들의 생산적인 수다 서비스 - 운영 수동 배포 2
      <a href="/new-entry" class="btn btn-primary pull-right">수다떨기</a>
    </h1>
  </body>
</html>
